.container {
  background-color: #0f0c29;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 550px;
  justify-content: space-between;
  line-height: 24px;
  margin: 20px;
  max-width: 450px;
  min-width: 300px;
  padding: 36px 20px;
  position: relative;
  text-align: center;
  width: 33%;
}
